In [1]:
#metinden kordinat okuma

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('C:/Users/Bilal Benzer/Documents/GitHub/Python_Calismalarim-Python_Works_vscode/GIS/geopython/geopython2021/L1/global-city-population-estimates.csv',sep=";",encoding='latin1')

In [5]:
pd.set_option("max_columns",20)
#bu seçenek pandaya 20 satıra kadar okumasını söyler

In [6]:
print(df.head(5))

  Country or area Urban Agglomeration   Latitude   Longitude  Population_2015  \
0           Japan               Tokyo  35.689500  139.691710         38001018
1           India               Delhi  28.666670   77.216670         25703168
2           China            Shanghai  31.220000  121.460000         23740778
3          Brazil           S?o Paulo -23.550000  -46.640000         21066245
4           India     Mumbai (Bombay)  19.073975   72.880838         21042538

   Unnamed: 5
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

In [7]:
#csv verilerini okuduk. Şimdi de bu verilerden nokta oluşturacağız

In [30]:
from shapely.geometry import Point
def make_point(row):
    return Point(row['Longitude'],row['Latitude'])
#Pandalardan gelen bir satır nesnesini alan bir fonksiyon yapıyoruz. Satır başına tek alanlar, sütun adlarıyla adreslenir.

In [31]:
df['points'] = df.apply(make_point, axis=1)
#Her satırı gözden geçirin ve işlevi yukarıdan **uygulayarak** enlem ve boylamı bir noktaya getirin (sıra aşağı -> eksen=1)
#[76]'da: df['points'] = df.apply(make_point, axis=1)
print(df.head(5))

  Country or area Urban Agglomeration   Latitude   Longitude  Population_2015  \
0           Japan               Tokyo  35.689500  139.691710         38001018
1           India               Delhi  28.666670   77.216670         25703168
2           China            Shanghai  31.220000  121.460000         23740778
3          Brazil           S?o Paulo -23.550000  -46.640000         21066245
4           India     Mumbai (Bombay)  19.073975   72.880838         21042538

   Unnamed: 5                              points
0         NaN           POINT (139.69171 35.6895)
1         NaN  POINT (77.21666999999999 28.66667)
2         NaN                POINT (121.46 31.22)
3         NaN               POINT (-46.64 -23.55)
4         NaN         POINT (72.880838 19.073975)